In [1]:
from math import log
import pandas as pd
import numpy as np

In [20]:
#贷款申请样本数据表
dataset = pd.read_csv('dataset.csv')
dataset

    年龄  有工作  有自己的房子  信贷情况  类别
0    0    0       0     0   0
1    0    0       0     1   0
2    0    1       0     1   1
3    0    1       1     0   1
4    0    0       0     0   0
5    1    0       0     0   0
6    1    0       0     1   0
7    1    1       1     1   1
8    1    0       1     2   1
9    1    0       1     2   1
10   2    0       1     2   1
11   2    0       1     1   1
12   2    1       0     1   1
13   2    1       0     2   1
14   2    0       0     0   0

In [43]:
def calcShannonEnt(dataSet, feature=dataset.columns[-1]):
    entropy = 0.0
    numEntries = len(dataSet)
    for item in dataSet[feature].unique():
        prob = float(len(dataSet[dataSet[feature]==item])/numEntries)
        entropy -= prob * log(prob,2)
    return entropy

In [44]:
calcShannonEnt(dataset)

0.9709505944546686

In [45]:
dataset.columns[-1]

'类别'

In [ ]:
def chooseBestFeatureToSpelit(dataSet):
    numFeatures=dataSet.shape[1]-1
    baseEntropy=calcShannonEnt(dataSet)
    bestInforGain=0.0;bestFeature=-1